@model ProjetoLivraria.MVC.ViewModels.HomeViewModel

<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-book"></i> Total livro(s)</span>
    <div class="count">@Model.QuantidadeLivro</div>
</div>
<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i> Total autor(es)</span>
    <div class="count">@Model.QuantidadeAutor</div>
</div>
<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-building"></i> Total editora(s)</span>
    <div class="count">@Model.QuantidadeEditora</div>
</div>
