@model ProjetoLivraria.MVC.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Dashboard";
}
<div class="row tile_count">

    @Html.Partial("IndexQuantidadeRegistrosPartial", Model)

</div>
<div class="row">

    @Html.Partial("IndexPrincipaisAutoresPartial", Model)

    @Html.Partial("IndexUltimosLivrosCadastradosPartial", Model.UltimosLivros)

</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            if ((typeof (Chart) === 'undefined')) { return; }
            var chart = new Chart($('#melhoresAutores'), DadosPrincipaisAutores);
        });
    </script>
}
